<section class='form round-box'>
  <h2>Editar Informações Adicionais</h2>
  <div class='separator'></div>

  <%= error_messages %>

  <%= form_for(@volunteer_info) do |f| %>
    <%= render partial: "volunteer_info_form", locals: { f: f } %>
  <% end %>
</section>

<%= javascript_pack_tag 'volunteer_registration' %>