<section class='form round-box'>
  <h2>Informações Adicionais</h2>
  <%= render partial: "volunteer_info_form", locals: { volunteer_info: @volunteer_info } %>
</section>

<%= javascript_pack_tag 'volunteer_registration' %>