@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

body {
  margin: 0;
  margin-top: 3.5rem;
  background-color: #D6EEFF;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.useful-links {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1C671F;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  a {
    color: #F9F9F9;
    margin: 0 0.5rem;
  }
}

.round-box {
  background-color: white;
  border-radius: 10px;
}

.form {
  margin: 0 auto 1rem auto;
  padding: 1rem 2rem;
  span {
    display: block;
  }
  input:not(input[type=checkbox]), select {
    margin-left: 0.1rem;
    margin-right: 1rem;
  }
  h2, span {
    text-align: center;
  }
  .field, h2, span {
    margin-bottom: 1rem;
  }
  .field_with_errors {
    display: inline;
    color: red;
    input, select {
      border: solid 1px red;
      border-radius: 2px;
    }
  }
  .separator {
    border-top: solid 1px #D6EEFF;
    margin-bottom: 1rem;
  }
}