// Place all the styles related to the PurchaseLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pending-deliveries {
  li {
    list-style: none;
  }

  li:not(:last-of-type) {
    padding-bottom: 0.5rem;
  }

  ul {
    padding: 0;
  }
}