// Place all the styles related to the PurchaseProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome-window {
  position: fixed;
  top: 3.5rem;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  text-align: justify;
  margin-left: 1rem;
  img {
    width: 20rem;
  }
}

.active-purchases {
  display: flex;
  flex-wrap: wrap;
  margin-left: 32rem;
}

.purchase-product-preview {
  display: flex;
  width: 25rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  div {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: space-evenly;
    h2 {
      font-size: 1.3rem;
    }
  }
  img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
  }
}