// Place all the styles related to the PurchaseProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage {
  display: flex;
}

.welcome {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-left: 1rem;
} 

.welcome-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  text-align: justify;
  img {
    width: 20rem;
  }
}

.active-purchases {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.purchase-product-preview {
  display: flex;
  width: 48%;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  div {
    margin-left: 2rem;
    h2 {
      font-size: 1.3rem;
    }
  }
  img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
  }
  .purchase-product-price {
    display: block;
    margin: 1rem 0;
  }
  .order-form {
    margin: 0;
    .field {
      display: block;
      margin-left: 0;
      margin-bottom: 0.5rem;
      input {
        width: 5rem;
      }
    }
  }
}

.willpaginate {
  font-size: 1.3rem;
  margin-left: 1rem;
  width: 100%;
  height: 2rem;
  div {
    display: flex;
    margin-top: 0.25rem;
    justify-content: space-around;
    align-items: center;
    a, span, em {
      display: block;
    }
  }
}

// Mobile version
@media only screen and (max-width: 500px){
  .homepage {
    display: block;
  }

  .welcome {
    position: static;
    padding: 0 1rem;
    width: 100%;
  }

  .welcome-window img {
    width: 15rem;
  }

  .active-purchases {
    display: block;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    width: 100%;
  }

  .purchase-product-preview {
    margin: 0;
    margin-top: 1rem;
    width: 100%;
  }

  .willpaginate {
  margin-left: 0;
  margin-top: 1rem;
}
}