// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.session {
  a:not(:last-child) {
    display: block;
    margin-bottom: 0.5rem;
  }
  input[type=submit] {
    margin-bottom: 1rem;
  }
}

.user-utilities {
  margin: 1rem 3.5rem 1rem 1rem;
  width: 25rem;
  h2 {
    text-align: center;
  }
}

.user-information {
  padding: 1rem 1.5rem;
  span {
    display: block;
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

.user-tools {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  span {
    display: block;
  }

  .separator {
    margin: 0.5rem 0;
  }
}

.purchase-tools {
  input, label {
    display: block;
  }
  select {
    margin-top: 0.25rem;
  }
}