<p>Bem vindo ao Terra Limpa, <%= @email %>!</p>

<p>Por favor, valide seu e-mail clicando no link a seguir:</p>

<p><%= link_to 'Clique aqui para ativar sua conta', confirmation_url(@resource, confirmation_token: @token) %></p>
