<p>Olá <%= @resource.email %>!</p>

<p>Acesse o seguinte link para mudar sua senha.</p>

<p><%= link_to 'Mudar minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou esta ação, ignore este email.</p>
<p>Atenciosamente,</p>
<p>Equipe Terra Limpa</p>
